<div class="container">
  <div class="masthead">
    <h3 class="text-muted pull-left">
      <a href="/">Sklep</a>
    </h3>

    <ul class="list-unstyled list-inline pull-right">
      <li>
        <form class="form-inline">
          <input type="text" class="form-control">
          <input type="submit" class="btn btn-default" value="szukaj">
        </form>
      </li>
      <li>
        <button class="btn btn-default">Koszyk</button>
      </li>
      <li>
        <button class="btn btn-default">Logowanie</button>
      </li>
    </ul>

    <div class="clearfix"></div>

    <nav *ngIf="kategorie">
      <ul class="nav nav-justified">
        <li *ngFor="let k of kategorie">
          <a [routerLink]="['/produkty', k.slug]" routerLinkActive="active">{{k.nazwa}}</a>
        </li>
      </ul>
    </nav>
  </div>
  
  <router-outlet></router-outlet>
  
  <!-- Site footer -->
  <footer class="footer">
    <p>&copy; 2016 Company, Inc.</p>
  </footer>
</div> <!-- /container -->