<div class="row produkt">
  <div class="col-md-4 produkt__box" *ngFor="let p of produkty" (click)="gotoProdukt(p._id)">
      <img src="{{p.img_small}}" alt="{{p.nazwa}}">
      {{p.nazwa}} <br>
      {{p.cena}} <br>
  </div>
</div>