<div *ngIf="produkt">
  <img src="{{produkt.img_big}}" class="img-responsive" alt="{{produkt.nazwa}}">
  <img src="{{produkt.img_small}}" class="img-responsive" alt="{{produkt.nazwa}}">
  <h1>{{produkt.nazwa}} <small>{{produkt.cena}}</small></h1>
  <p class="lead">{{produkt.marka}} ( +{{produkt.wiek}} )</p>
  <p>
    {{produkt.opis}}
  </p>
</div>
